<app-header title="Mi perfil" ira="/home"></app-header>

<ion-content [fullscreen]="true">
  <div class="page-container">

    <div class="profile">
      <div class="avatar">
        <ion-img src="https://i.pravatar.cc/300" alt="profile" /> 
      </div>
      <div class="profile-name">
        <h2>{{user.name}}</h2>
        <p>{{user.email}}</p>
      </div>
    </div>

    
    <ion-button class="mt-2 mb-3" (click)="logout()" expand="block" fill="outline" shape="round" color="primary">
      Salir del sistema
    </ion-button>
  </div>

</ion-content>
