<app-header title="Ingresos" url="home"></app-header>

<ion-content [fullscreen]="true">
  <div class="page-container">
    <ion-card class="total-card">
      <section class="ion-text-center">
        <ion-icon name="cash" class="ion-icon"></ion-icon>
        <h3>Total mensual</h3>
        <h2 id="total-amount">$150</h2>
      </section>

      <section class="ion-text-center">
        <ion-icon name="cash" class="ion-icon"></ion-icon>
        <h3>Total anual</h3>
        <h2 id="total-amount">$150</h2>
      </section>
    </ion-card>

    <div class="boxTitle">
      <h3>Bancos</h3>
      <ion-button class="ion-text-capitalize" (click)="addBank()" expand="block" fill="outline" shape="round"
        color="primary">
        Agregar
      </ion-button>
    </div>

    <div class="bancos">
      <div class="childBancos">
        <a *ngFor="let b of banks" class="boxesImages">
          <div class="top">
            <ion-img src="{{ b.slog }}"></ion-img>
            <h3 class="item-title">{{ b.name }}</h3>
          </div>
          <h3 class="item-title">{{ b.total_amount }}</h3>
        </a>
      </div>
    </div>


  </div>
</ion-content>