.content {
  width: 100%;
  height: auto;
  max-width: 780px;
  margin: 0 auto;
  padding: 1rem;
}

.heaerHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-radius: 1rem;
  overflow: hidden;
}

.dataUser {
  display: flex;
  align-items: center;
}

.settings {
  ion-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    --background: transparent !important;

    ion-icon {
      width: 100%;
      height: 100%;
    }
  }
}


.childBoxContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.boxesContent {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, .1);
  border-radius: .3rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--ion-color-primary);
}

@media only screen and (max-width:476px) {
  .childBoxContent {
    grid-template-columns: 1fr 1fr;
  }

}