<ion-content [fullscreen]="true">

  <section class="content">
    <section class="heaerHome">

      <ion-text color="primary">
        <h3>Nombre de la app</h3>
      </ion-text>

      <div class="settings" (click)="redirectTo()">
        <ion-button fill="clear" id="click-trigger">
          <ion-icon src="../../../assets/home/settings.svg" slot="icon-only"></ion-icon>
        </ion-button>
      </div>

    </section>

    <section class="boxContent">
      <div class="title">
        <h3>Tu Gestión</h3>
      </div>

      <div class="childBoxContent">
        <a class="boxesContent" [routerLink]="m.url" *ngFor="let m of menu">
          <ion-img [src]="m.icon"></ion-img>
          <h3> {{m.title}} </h3>
        </a>
        </div>

    </section>


  </section>
</ion-content>