<ion-content [fullscreen]="true">
  <div class="content">
    <section class="section-1">
      <ion-card>
        <div class="perfil">
          <img alt="logo" id="modalPerfil" height="40" src="../../../assets/icon/person.svg" />
        </div>
        <div class="info">
          <ion-label>
            <h2>{{ dataUser.name }}</h2>
            <p>Propietario</p>
          </ion-label>
        </div>
        <div class="otro"></div>
      </ion-card>

      <ion-modal #modalPerfil mode="ios" trigger="modalPerfil">
        <ng-template>
          <ion-header class="ion-no-border">
            <ion-toolbar class="ion-no-border">
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancel</ion-button>
              </ion-buttons>
              <ion-title>Perfil</ion-title>
            </ion-toolbar>
          </ion-header>

          <ion-content class="ion-padding">
            <div class="profile">
              <div class="profile-header">
                <img src="../../../assets/icon/person.svg" alt="Avatar" />
                <h2>John Doe</h2>
                <div class="go-out ion-margin-top">
                  <ion-button (click)="logout()" expand="block" shape="round">
                    <span>Cerrar sesión</span>
                    <ion-icon src="../../../assets/icon/log-out.svg"></ion-icon>
                  </ion-button>
                </div>
              </div>
              <!-- <div class="profile-details">
                <h3>Información personal</h3>
                <ul>
                  <li><strong>Nombre:</strong> John Doe</li>
                  <li><strong>Edad:</strong> 30 años</li>
                  <li><strong>Ubicación:</strong> Ciudad</li>
                  <li>
                    <strong>Correo electrónico:</strong> correo@example.com
                  </li>
                </ul>
              </div> -->



            </div>
          </ion-content>
        </ng-template>
      </ion-modal>
    </section>

    <section class="section-2">
      <div class="div">
        <h1>Tu Gestión</h1>

      </div>

      <app-management icon="../../../assets/home/earnings.svg" title="Ingresos"></app-management>
      <app-management icon="../../../assets/home/expenses.svg" title="Egresos"></app-management>
      <app-management icon="../../../assets/home/reports.svg" title="Informe"></app-management>
      <!-- <app-management icon="../../../assets/home/graphics.svg" title="Graficos"></app-management> -->
      <!-- <app-management icon="../../../assets/home/customer.svg" title="Clientes"></app-management> -->
      <!-- <app-management icon="../../../assets/home/supplier.svg" title="Proveedor"></app-management> -->
    </section>


  </div>
</ion-content>
<app-tabs activo="home"></app-tabs>