<!-- <app-header title="Ganancias"></app-header>-->
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ingresos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  
  <div class="section-content">

    <ion-card class="total-card">
      
      <section class="ion-text-center">
        <ion-icon name="cash" class="ion-icon"></ion-icon>
        <h3>Total mensual</h3>
        <h2 id="total-amount">$150</h2>
      </section>

      <section class="ion-text-center">
        <ion-icon name="cash" class="ion-icon"></ion-icon>
        <h3>Total anual</h3>
        <h2 id="total-amount">$150</h2>
      </section>
      
    </ion-card>
    
    <ion-list>

      <ion-list-header>
        <ion-label>Movimientos</ion-label>
        <ion-button class="ion-text-capitalize" (click)="ira()">Agregar</ion-button>
      </ion-list-header>


      <ion-item class="list-item">
        <ion-thumbnail slot="start">
          <img src="../../../assets/icon/statistics.svg" class="item-image" />
        </ion-thumbnail>
        <ion-label>
          <h2 class="item-title">Título de la ganancia 1</h2>
          <p class="item-date">Fecha de la ganancia</p>
          <h3 class="item-amount">$50</h3>
        </ion-label>
      </ion-item>
  
      <ion-item class="list-item">
        <ion-thumbnail slot="start">
          <img src="../../../assets/icon/statistics.svg" class="item-image" />
        </ion-thumbnail>
        <ion-label>
          <h2 class="item-title">Título de la ganancia 2</h2>
          <p class="item-date">Fecha de la ganancia</p>
          <h3 class="item-amount">$100</h3>
        </ion-label>
      </ion-item>
  
    </ion-list>
  </div>

</ion-content>
