<app-header title="Agregar usuario" ruta="/usuarios"></app-header>

<ion-content [fullscreen]="true">

  <div class="page-container">
    <form [formGroup]="userForm">
      <ion-item fill="outline">
        <ion-icon class="icon-input" name="person" slot="start"></ion-icon>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>
  
      <ion-item fill="outline" class="mt-1">
        <ion-icon class="icon-input" name="person" slot="start"></ion-icon>
        <ion-label position="floating">Correo electronico</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
  
      <ion-select label="Rol" class="mt-1" label-placement="floating" fill="outline" interface="popover" formControlName="role">
        <ion-select-option  *ngFor="let role of roles" [value]="role">{{ role }}</ion-select-option>        
      </ion-select>
      
      <ion-item fill="outline" class="mt-1">
        <ion-icon class="icon-input" name="person" slot="start"></ion-icon>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>

      <ng-container *ngIf="userForm.valid; else noValid">
        <ion-button class="mt-1" (click)="validateForm()" mode="md" expand="block" shape="round" color="primary">
          <!-- <ion-icon slot="end"></ion-icon> -->
          <ion-label>Agregar usuario</ion-label>
        </ion-button>
      </ng-container>

      <ng-template #noValid>
        <ion-button class="mt-1" (click)="validateForm()" mode="md" expand="block" shape="round" color="tertiary">
          <!-- <ion-icon slot="end"></ion-icon> -->
          <ion-label>Agregar usuario</ion-label>
        </ion-button>
      </ng-template>
    </form>
  </div>

</ion-content>