<app-header title="Usuarios" ira="/roles"></app-header>

<ion-content [fullscreen]="true">
  <div class="page-container">

    <ion-list-header>
      <ion-label>Usuarios</ion-label>
      <ion-button class="ion-text-capitalize" (click)="addUser()" expand="block" fill="outline" shape="round"
        color="primary">
        Agregar
      </ion-button>
    </ion-list-header>

    <div class="listUsers mt-2">
      <table class="table-primary">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>
              <!-- <ion-button (click)="editUser(user.id)" color="primary" size="small" shape="round" fill="outline">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button> -->
              <ion-button (click)="deleteUser(user.id)" color="danger" size="small" shape="round" fill="outline">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</ion-content>